<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbfPath" value="C:\\Sklad\\export\\exportfa" />
    <add key="SqlHost" value="192.168.5.6" />
    <add key="SqlUser" value="sa" />
    <add key="SqlPassword" value="KZIi8Fr20CD" />
    <add key="SqlPort" value="1433" />
    <add key="SqlDbName" value="StwPh_46713301_2019" />
    <add key="IsTest" value="false" />
    <add key="SheetID" value="1BrJblZJuXzJBnw74yQNnfr9H8NLSaJdean42hK3Vt6c" />
    <add key="SheetName" value="2017" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>